<div id="tabDrags">
<table style='font-size:5px;font-weight:lighter;color:#438D80;'>
<tr>
<th>トマト&バジル</th>
<th>キャベツ</th>
<th>イチゴ</th>
<th>トマト</th>
<th>バジル</th>
<th>マリーゴール</th>
<th>ホウレンソ</th>
<th>春菊</th>
<th>ブロック</th>
<th>ウッドチップ</th>
<th>わら</th>
<th>ブロック花壇</th>
<th>土</th>
<th>連杭</th>
<!-- <th>うさぎ置物</th> --></tr>
<tr>
<th><img width='35px' src="/assets/vegetables/TomatoBasil_off.png" id="CompanionPlant_01" title="トマト（コンパニオンプランツ：バジル）"></th>
<th><img width='35px' src="/assets/vegetables/Cabbage_off.png" id="Cabbage" title="キャベツ" ></th>
<th><img width='35px' src="/assets/vegetables/Strawberry_off.png" id="Strawberry" title="イチゴ" ></th>
<th><img width='35px' src="/assets/vegetables/Tomato_off.png" id="Tomato" title="トマト"></th>
<th><img width='35px' src="/assets/vegetables/Basil_off.png" id="Basil" title="バジル"></th>
<th><img width='35px' src="/assets/vegetables/Marigold_off.png" id="Marigold" title="マリーゴールド"></th>
<th><img width='35px' src="/assets/vegetables/Spinach_off.png" id="Spinach" title="ホウレンソウ"></th>
<th><img width='35px' src="/assets/vegetables/GarlandChrysanthemun_off.png" id="GarlandChrysanthemun" title="春菊"></th>
<th><img width='35px' src="/assets/vegetables/Brick_ornament.png" id="Brick" title="ブロック(装飾)"></th>
<th><img width='35px' src="/assets/vegetables/WoodChip_ornament.png" id="WoodChip" title="ウッドチップ(装飾)"></th>
<th><img width='35px' src="/assets/vegetables/Straw_ornament.png" id="Straw" title="わら(装飾)"></th>
<th><img width='35px' src="/assets/vegetables/BedOfBrick_ornament.png" id="BedOfBrick" title="ブロック花壇(装飾)"></th>
<th><img width='35px' src="/assets/vegetables/Soil_ornament.png" id="Soil" title="土(装飾)"></th>
<th><img width='35px' src="/assets/vegetables/Picket_ornament.png" id="Picket" title="連杭(装飾)"></th>
<!-- <th><img width='35px' src="/assets/vegetables/Rabbit_ornament.png" id="Rabbit" title="うさぎ(置物)"></th> --></tr>
</table>

</div>