<div id="tabDrags">
  <img width='40px' src="/assets/Cabbage_off.png" id="Cabbage" alt="キャベツ" >
  <img width='40px' src="/assets/Strawberry_off.png" id="Strawberry" alt="イチゴ" >
  <img width='40px' src="/assets/Tomato_off.png" id="Tomato" title="トマト">
  <img width='40px' src="/assets/Basil_off.png" id="Basil" alt="バジル">
  <img width='40px' src="/assets/Marigold_off.png" id="Marigold" alt="マリーゴールド">
</div>