
/* LightYellow */
$dark_yellow: #D7DF01;
$yellow: #FFFF99;
$light_yellow: #ffffe0;
$very_light_yellow: #fffff0;
/* Orange */
$salmon: #FF9999;
$teal: #448888;
$lightGray: #eeeeee;
$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);
/* Green */
$green: #00cc00;
$dark_light_green: #C8D6BB;
$sea_turtle_green: #438D80;
$green_peas: #89C35C;
/* Red */
$red: #cc0000;
$pink: #FDD7E4;
/* Gray */
$lightGray: #DDD;
$dimGray: #666666;
/* brown */
$brown: #AC6700;
$light_brown: #FFE5B4;


