@import 'colors';
@import 'dimensions';

div#wrapper {
  width: 1000px;
  border: thin solid $sea_turtle_green;
  div#container {
    h1 {
      margin: 0;
      padding: $moderate * 1.5 $moderate;
      font-size: $large;
      font-weight: normal;
      background-color: $yellow;
      color: $sea_turtle_green;
      border-bottom: thin solid $sea_turtle_green;
    }
  }
}