@import 'colors';
@import 'dimensions';
div#wrapper {
  height: 100%;
  div#container {
    div#login-form {
      width: 270px;
      float: left;
      margin: $moderate $moderate;
      border: 2px outset $sea_turtle_green;
      border-color: $sea_turtle_green;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      label {
        margin: $moderate $moderate;
      }
      input[type='text'], input[type='password'] {
        border: 1px solid $dark_yellow;
        margin: $moderate $moderate;
        
      }
      .loginbuttons {
        input[type='submit'] {
          text-decoration: none;
          float: right;
          margin: $moderate $moderate;
          padding: $moderate $very_wide;
          background-color: $yellow;
          border-radius: 20px;
          box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
        }        
      }
    }
    div.function {
      float: left;
      width: 762px;
      border: 2px solid $sea_turtle_green;
      margin: $moderate $moderate;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      .title {
        font-weight: bold;
        float: left;
        width: 762px;
      }
    } 
    div.explan {
      float: left;
      width: 500px;
      height: 710px;
      border: 2px solid $sea_turtle_green;
      text-align:center;
      margin: $moderate $moderate;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      a.function {
        font-size: $large;
        color: $very_light_yellow;
        background-color:$green_peas;
        border: 2px solid $lightGray;
        border-radius: 20px;
        padding: $wide $very_wide;
        padding-top:8px;
        text-decoration: none;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

      }
    }
    div.ads {
      float: left;
      width: 250px;
      height: 310px;
      border: 2px solid $sea_turtle_green;
      text-align:center;
      margin: $moderate $moderate;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      a.function {
        font-size: $large;
        color: $very_light_yellow;
        background-color:$green_peas;
        border: 2px solid $lightGray;
        border-radius: 20px;
        padding: $wide $very_wide;
        padding-top:8px;
        text-decoration: none;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

      }
    }
    div.menu {
      float: left;
      width: 200px;
      height: 210px;
      border: 2px solid $sea_turtle_green;
      text-align:center;
      margin: $moderate $moderate;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      a.function {
        font-size: $large;
        color: $very_light_yellow;
        background-color:$green_peas;
        border: 2px solid $lightGray;
        border-radius: 20px;
        padding: $wide $very_wide;
        padding-top:8px;
        text-decoration: none;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

      }
    }
    div#generic-form {
      width: 700px;
      margin: $very_wide auto;
      padding: $very_wide;
      border-radius: $wide;
      border: 2px outset $sea_turtle_green;
      background-color: $light_yellow;
      
      form {
        div {
          padding: $wide;
          label {
            display: block;
            padding: $moderate 0;
          }
          label.required:after {
            content: '*';
            padding-left: $narrow;
            color: $red;
          }
          input[type='checkbox']+label { display: inline-block }
          input[type='radio']+label { display: inline-block }
        }
        div.input-block {
          input { margin: $narrow * 2; }
        }
        span.input-block {
          input { margin: $narrow * 2; 
          border: 1px solid $dark_yellow;
          margin: $moderate $moderate;
          }
        }
        div.notes {
          text-align: right;
          font-size: $small;
          span.mark { color: $red }
        }
        div.buttons {
          text-align: center;
          input[type='submit'] {
            padding: $wide $very_wide;
            background-color: $yellow;
            border-radius: 20px;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
          }
        }
        a.cancel {
          font-size: $large;
          background-color:$yellow;
          border: 2px solid $lightGray;
          border-radius: 20px;
          padding: $wide $very_wide;
          padding-top:8px;
          text-decoration: none;
        }
        div.field_with_errors {
          display: inline;
          padding: 0;
          label { color: $red; }
          input { background-color: $pink; }
        }
        div.error-message {
          color: $red;
          font-size: $small;
          padding: 0 $very_wide;
        }
        fieldset {
          border: 2px solid $sea_turtle_green;
          box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
          legend {
            background-color: $yellow;
          }          
        }
      }
    }
  }
}
