<% @title = 'Top page'%>
<h1><%= @title %></h1>

<% if current_customer %>
<div class="menu">
  <br/>
  <%= link_to 'vegetable garden map', :customer_gardenmaps, :class => "function", data: { "no-turbolink" => true }  %>
  <br/><br/><img src='/assets/bottom_arrow_green.png' height='30' /><br/><br/>
  <%= link_to 'vegetable plan', :customer_gardenplans, :class => "function" %>
  <br/><br/><img src='/assets/bottom_arrow_green.png' height='30' /><br/><br/>
  <%= link_to 'recipe', :customer_recipes, :class => "function" %>
</div>
<% end %>
