<% if current_customer %>
  <div class="menu">
  <h1><%= I18n.t('functionMenu.title') %></h1>
  <br/>
  <%= link_to I18n.t('functionMenu.vegetableGardenMap'), :customer_gardenmaps, :class => "function", data: { "no-turbolink" => true }  %>
  <br/><br/><img src='/assets/bottom_arrow_green.png' height='30' /><br/><br/>
  <%= link_to I18n.t('functionMenu.vegetableGardenPlan'), :customer_gardenplans, :class => "function" %>
  </div>
<% end %>
