<div class="explan">
<h1><%= t('top.index.vegetableCite') %></h1>
<img src="/assets/explan/vegetableFunctions.png"  width="300" height="180">
<input type="button" value=<%= t('top.index.descriptionFunctions') %> onclick='showExplanVegetable()'>
<div id="explanvegetable" style="display:none;"  title="菜園サイト">
<object width="820" height="700" data="assets/Explan_VegetableFunctions.pdf"></object>
</div>
<h1><%= t('top.index.whatsNew') %></h1>
<img src="/assets/explan/buildingSite.png">
<h1><%= t('top.index.businessManagement') %></h1>
<img src="/assets/explan/buildingSite.png">
</div>